src/Uania.Tools.Web/obj/*
src/Uania.Tools.Web/bin/*
src/Uania.Tools.Infrastructure/obj/*
src/Uania.Tools.Infrastructure/bin/*
src/Uania.Tools.Models/obj/*
src/Uania.Tools.Models/bin/*
src/Uania.Tools.Services/obj/*
src/Uania.Tools.Services/bin/*
src/Uania.Tools.Repository/bin/*
src/Uania.Tools.Repository/obj/*
src/Uania.Tools.T4/bin/*
src/Uania.Tools.T4/obj/*
src/Uania.Tools.Test/bin/*
src/Uania.Tools.Test/obj/*
src/Uania.Tools.TestConsole/bin/*
src/Uania.Tools.TestConsole/obj/*
src/Uania.Tools.T4Sample/bin/*
src/Uania.Tools.T4Sample/obj/*
src/.vs/SportsTesting/xs/UserPrefs.xml
