<#@ template language="C#" debug="false" hostSpecific="True" #>
<#@ output extension=".cs" #>
<#@ assembly name="/home/yifan/repos/tools/src/Uania.Tools.T4Sample/bin/Debug/net6.0/Uania.Tools.T4Sample.dll" #>
<#@ import namespace="Uania.Tools.T4Sample.Common" #>
<#@ import namespace="System" #>
<#
    string ns = "Uania.Tools.Repository.Entities";
    string baseEntity = "SportsTestingBaseEntity";

	Portgres provider = new Portgres();
#>